/* You can add global styles to this file, and also import other style files */
.heading{
    text-align: center;
    color: blue;
}

.colorclass1{
    font-weight: 100;
    color: red;
    background-color: wheat;
}
.colorclass1{
    font-weight: 200;
    color: rosybrown;
    background-color: cornflowerblue;
}
.colorclass1{
    font-weight: 300;
    color: black;
    background-color: antiquewhite;
}
.colorclass1{
    font-weight: 400;
    color: aqua;
    background-color: pink;
}